
.onboardingParentContainer{
    width: 50%;
    margin: auto;
    padding-bottom: 100px;
}

.onboardingContainer > div{
    margin-bottom: 10px;

}

.button{
    margin-right: 10px;
}

.professionalExperience{
    margin-bottom: 50px;
    border: 1px solid grey;
    padding: 10px;
}

.EducationalExperience{
    margin-bottom: 50px;
    border: 1px solid grey;
    padding: 10px;
}


.OKbutton{
    margin-left: 10px;
}

.noteContiner{
    margin-top: 10px;
}

.logoutBtn{
    padding-top: 30px;
}